{%- set params = [{ "name": "1", "password": "mounir" },
                  { "name": "2", "password": "mounir" },
                  { "name": "3", "password": "mounir" }]
%}
{%- for p in params %}
{%- set name = p["name"] %}
{%- set password = p["password"] %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: test-{{ name }}
  labels:
    jobgroup: test
spec:
  template:
    metadata:
      name: test
      labels:
        jobgroup: test
    spec:
      containers:
      - name: test
        image: mh17665/password:arg
        command: ["python","test.py {{ password }}"]
      restartPolicy: Never
{%- endfor %}
