{%- set params = [{ "name": "1", "img": "1" },
                  { "name": "2", "img": "2" },
                  { "name": "3", "img": "3" },
                  { "name": "4", "img": "4" }]
%}
{%- for p in params %}
{%- set name = p["name"] %}
{%- set img = p["img"] %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: test-{{name}}
  labels:
    jobgroup: test
spec:
  template:
    metadata:
      name: test
      labels:
        jobgroup: test
    spec:
      containers:
      - name: test
        image: mh17665/password:{{img}}.0
        command: ["/bin/sh" "-c" "python ./test.py mounir"]
      restartPolicy: Never
{%- endfor %}
