{%- set params = [{ "name": "a-f", "img": "a-f", "py": "1" },
                  { "name": "g-l", "img": "g-l", "py": "2" },
                  { "name": "m-r", "img": "m-r", "py": "3" },
                  { "name": "s-z", "img": "s-z", "py": "4" }]
%}
{%- for p in params %}
{%- set name = p["name"] %}
{%- set img = p["img"] %}
{%- set py = p["py"] %}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: password-{{name}}
  labels:
    jobgroup: password
spec:
  template:
    metadata:
      name: password
      labels:
        jobgroup: password
    spec:
      containers:
      - name: password
        image: mh17665/password:{{img}}
        command: ["/bin/sh","-c","python ./test{{py}}.py abc"]
      restartPolicy: Never
{%- endfor %}
